@model BilgiAlani.Varliklar.Product

@{
    ViewBag.Title = @Model.Ad + "İçin Ürün Detayları";
}
<h3>@Model.Ad İçin Ürün Detayları</h3>
<div class="well" style="height:330px">
    @if (Model.ResimVerisi != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="300" style="max-height:250px" src="@Url.Action("ResmiGetir", "Urun",new { Model.UrunID   })" />
        </div>
    }
    <h3>
        <strong>@Model.Ad</strong>
    </h3>
    @* ASP.NET MVC ile ASP.NET Web Forms'un aksine sayfa içinde sayısız form oluşturabiliriz. *@
    @* Buradaki form gönderildiğinde Sepet controller'i içindeki SepeteEkle metodu çalıştırılacaktır. Gizli alan ise gelen bilginin tekrar geri gönderilebilmesini sağlamak içindir. *@
    
    <span class="lead"> @Model.Aciklama</span><br />
    <div><span class="lead" style="font-style:italic"> @Model.Kategori</span></div><br />
    <span class="label label-primary" style="font-size:19px">@Model.Fiyat.ToString("c")</span>
    @using (Html.BeginForm("SepeteEkle", "Sepet"))
    {
        <div>
            @Html.HiddenFor(x => x.UrunID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <br />
            <div class="pull-right">
                Kaç adet?: @Html.TextBox("KacAdet","1", new {@class = "form-control", style="width:55px"})
                <input type="submit" class="btn btn-success" style="margin-top:20px" value="Sepete Ekle" /><br />
            </div>
            <div class="pull-left">
                @ViewBag.KacDefaSatinAlinmis defa satın alınmıştır.
            </div>
            
          
        </div>
    }



</div>